{% layout "server/layouts/base.liquid" %}

{% block content %}

  <section class="home-section">

    <ul>
      {% for _city in weather %}
        <li>
          <a href="/{{ _city.name }}">
            <span class="city-name">{{ _city.name }}</span>
            <img src="{{ _city.weather[0].icon }}" alt="">
            <span class="temperatuur">{{ _city.main.temp | round }} °C</span>
            <span class="local-time">{{ _city.time }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>


{% endblock %}